@charset "UTF-8";

.content-detail{
	padding:10px 250px;
}
.image-space .horizontal-area24{
	margin:2px;
	padding:3px;
	width:45%;
	height:240px;
	float:left;
	overflow:hidden;
	text-align:center;
}
.image-space .horizontal-area24 img{
	width:215px;
	height:195px;
}
.filter{
	background-color: gray;
}