@charset "UTF-8";

.content-detail{
	width:600px;
	margin:20px;
	position: relative;
    left: 50px;
}
.content-detail ul{
	margin-left: 20px;
}	
.content-detail ul li{
	margin-bottom: 10px;
	font-size: 15pt;
}
.content-detail h1{
	margin-bottom: 10px;
}
.image-space .horizontal-area24{
	margin:2px;
	padding:3px;
	width:45%;
	height:240px;
	float:left;
	overflow:hidden;
	vertical-align: middle;
}
.image-space .horizontal-area24 img{
	width:215px;
	height:195px;
}
.filter{
	background-color: white;
	width:830px;
    padding: inherit;
    position: relative;
    right: 160px;
    border-style: solid;
    border-color: #9ED6C0;
    border-radius: 20px;
}
.mypage-horizontal{
	margin:2px;
	padding:3px;
	width:45%;
	height:240px;
	float:left;
	overflow:hidden;
	text-align:center;
}
.horizontal8{
	margin:2px;
	padding:3px;
	float:left;
	width:78%;
	height:30px;
}
.horizontal2{
	margin:2px;
	padding:3px;
	float:left;
	width:18%;
	height:30px;
}
.float-clear{
	float:none;
}
.list-horizontal{
	float:left;
	position:relative;
	top:10px;
	line-height: 170%;
	width:160px;
}
/* h2간 거리 */
.content-main h3{
	padding-top: 40px;
}

/* 채팅
------------------------------*/

.wrap {
    margin: 5px;
    padding: 40px 0;
    background-color: #A8C0D6;
    overflow: auto;
    width: 650px; 
    height:300px;
    position:relative;
    left:135px;
}

.wrap .chat {
    display: flex;
    align-items: flex-start;
    padding: 20px;
}

.wrap .chat .textbox {
    position: relative;
    display: inline-block;
    max-width: calc(100% - 70px);
    padding: 10px;
    margin-top: 7px;
    font-size: 13px;
    border-radius: 10px;
}

.wrap .chat .textbox::before {
    position: absolute;
    display: block;
    top: 0;
    font-size: 1.5rem;
}

.wrap .ch1 .textbox {
    margin-left: 20px;
    background-color: #ddd;
}

.wrap .ch1 .textbox::before {
    left: -15px;
    content: "◀";
    color: #ddd;
}

.wrap .ch2 {
    flex-direction: row-reverse;
}

.wrap .ch2 .textbox {
    margin-right: 20px;
    background-color: #F9EB54;
}

.wrap .ch2 .textbox::before {
    right: -15px;
    content: "▶";
    color: #F9EB54;
}
.wrap .read{
    color:yellow;
    float:left;
}