@charset "UTF-8";

.content-alba-main{
	padding:10px 250px;
}
#alba-photo1{
	width: 60%;
	margin: auto;
	display: block;
}

.image-space .horizontal-area99{
 	margin:2px;
	padding:3px;
	width:45%;
	height:240px;
	float:left;
	overflow:hidden;
	vertical-align: middle;
}

.image-space .horizontal-area99 img{
	width:215px;
	height:195px;
}
.list-horizontal{
	float:left;
	position:relative;
	top:1px;
	line-height: 150%;
	width:200px;
}
.image-space .float-clear{
	clear:both;
}
#keyfield1{
	width: 32%;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 10px 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 7px;
}
input[type="search"]{
	width: 40%;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 12px 13px;
    font-style: normal;
    font-weight: 200;
    font-size: 14px;
    line-height: 16px;
}
input[type="button"],input[type="submit"]{
	padding: 7px 12px;
    font-weight: 300;
    border-radius: 24px;
    display: block;
    outline: none;
    appearance: none;
    border: none;
    text-decoration: none;
    display:inline-block;
    background-color:#9ED6C0;
    color:white;
}
form#search_form{
	border:none;
}
ul.search{
	width:340px;
	list-style:none;
	padding:0;
	margin:0 auto;
}
ul.search li{
	margin:0 0 9px 0;
	padding:0;
	display:inline;
}
/* 페이지 메인
------------------------------*/
.page-main1{
	background:#FFFFFF;
	margin:40px 0;
	/*border-radius:5px;*/
	/*box-shadow:0 2px 6px rgba(100,100,100,0.3);*/
	min-height:650px;
}
.content-main1{
	padding:10px 20px;
}
/* 게시판 글 상세
------------------------------*/
.content-main1 > h2{
	width: 100%;
    border-radius: 10px;
    padding: 12px 13px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 16px;
}
/* 공통 정렬
------------------------------*/
.align-center{
	text-align:center;
}
.align-right{
	text-align:right;
}
/* 메뉴
------------------------------*/
/*#main_logo{
	padding-top:20px;
}*/
#main_nav{
	width:1000px;
	padding:0px;
	height:60px;
}
#main_nav ul{
	list-style:none;
	margin:0;
	padding:0;
}
#main_nav ul li{
	display:inline-block;
	text-align:center;
	vertical-align:middle;
	padding-top:0px;
	width:100px;
}
#main_nav ul li img.my-photo{
	vertical-align:middle;
}
#main_nav ul li.menu-profile{
	padding-top:0px;
	width:25px;
	vertical-align:middle;
}
#main_nav ul li.menu-logout{
	width:150px;
	text-align:right;
}