@charset "UTF-8";

.content-detail{
	padding:10px 250px;
}
.filter{
	background-color: gray;
}
.image-space .horizontal-area {
	margin:2px;
	padding:3px;
	width:45%;
	height:240px;
	float:left;
	overflow:hidden;
	text-align:center;
}
.image-space .horizontal-area img{
	width:215px;
	height:195px;
}
/* 채팅
------------------------------*/

.wrap {
    margin: 5px;
    padding: 40px 0;
    background-color: #A8C0D6;
    overflow: auto;
    width: 650px; 
    height:300px;
    position:relative;
    left:135px;
}

.wrap .chat {
    display: flex;
    align-items: flex-start;
    padding: 20px;
}

.wrap .chat .textbox {
    position: relative;
    display: inline-block;
    max-width: calc(100% - 70px);
    padding: 10px;
    margin-top: 7px;
    font-size: 13px;
    border-radius: 10px;
}

.wrap .chat .textbox::before {
    position: absolute;
    display: block;
    top: 0;
    font-size: 1.5rem;
}

.wrap .ch1 .textbox {
    margin-left: 20px;
    background-color: #ddd;
}

.wrap .ch1 .textbox::before {
    left: -15px;
    content: "◀";
    color: #ddd;
}

.wrap .ch2 {
    flex-direction: row-reverse;
}

.wrap .ch2 .textbox {
    margin-right: 20px;
    background-color: #F9EB54;
}

.wrap .ch2 .textbox::before {
    right: -15px;
    content: "▶";
    color: #F9EB54;
}
.wrap .read{
    color:yellow;
    float:left;
}

/* 부동산 입력폼
------------------------------*/

input[type="text"],input[id="zipcode"],input[type="number"],#house_content {
	width: 80%;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 8px 13px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}
.radio-check{
	line-height: 2.2;
}
input[type="search"]{
	width: 30%;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 12px 13px;
    font-style: normal;
    font-weight: 200;
    font-size: 14px;
    line-height: 16px;
}
#board_category_list{
	width: 20%;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 10px 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 7px;
}